In [19]:
# import dask.dataframe as dd
# import pandas as pd
# import numpy as np
# import os
# from datetime import datetime, timedelta
# import time
# import json
# import ast
# from tqdm import tqdm
# import requests
# import warnings
# warnings.filterwarnings('ignore') # turn off warnings

# import psycopg2

# connUAT = psycopg2.connect(
#      host='localhost',
#      database='uat',
#      port=5431,
#      user='postgres',
#      password='1234567890'
#   )

# connPROC = psycopg2.connect(
#      host='localhost',
#      database='prod',
#      port=5431,
#      user='postgres',
#      password='1234567890'
#   )

# cursorUAT = connUAT.cursor()
# cursorPROC = connPROC.cursor()

# def selectdf(query,conn):
#     df = pd.read_sql(query, conn)
#     return df
  
# def SQL_push(sql_table_name,python_table,conn,cursor,inplace):
#     python_table.replace([np.nan], [None],inplace=True)
    
#     if inplace == True:
#         try:
#             sql_query = f'truncate table {sql_table_name}'
#             cursor.execute(sql_query)
#             conn.commit()
#         except:
#             pass
            
#     sql = f"INSERT INTO {sql_table_name} VALUES ({','.join(['%s'] * len(python_table.columns))})"

#     data = [tuple(row) for _, row in tqdm(python_table.iterrows(), total=len(python_table), desc="Preparing data")]

#     # Chèn dữ liệu với xử lý lỗi
#     for row in tqdm(data, total=len(data), desc="Inserting rows"):
#         try:
#             cursor.execute(sql, row)
#         except Exception as e:
#             print(f"Lỗi khi chèn dòng {row}: {e}")
#             conn.rollback()  # Hủy giao dịch khi có lỗi, tránh PostgreSQL khóa transaction

#     # Sau khi xong thì commit lại
#     connUAT.commit()
#     print("PUSH DATA: DONE")

# pathfolder = r'F:\Work\Caohoc_2024_2026\PTPM_project\ml-latest'

In [20]:
# sql_check = '''
#             select distinct *
#             from staging.stg_tmdb_json_movie_metadata stjmm 
#             where request_json <> '{"success": false, "status_code": 34, "status_message": "The resource you requested could not be found."}'
#             order by id
#             '''
# movie_json = selectdf(sql_check,connUAT)
# # list_c['id'] = list_c['id'].astype(str)  # Đảm bảo cùng kiểu dữ liệu
# movie_json.sort_values(by='id',inplace=True)
# movie_json

In [21]:
# data_dict_list = []

# for i in tqdm(set(movie_json['id'])):
#     data_str = movie_json[movie_json['id']==i]['request_json'].values[0]
#     data = f'''{data_str}'''
#     data_dict = json.loads(data)
#     data_dict_list.append(data_dict)
    
# movie_metadata = pd.DataFrame(data_dict_list)
# movie_metadata.sort_values(by='id',inplace=True)
# movie_metadata

In [22]:
# movie_metadata.columns.to_list()

In [23]:
# movie_metadata2 = movie_metadata[['id','title','original_title','original_language','release_date','status','overview','tagline','adult','popularity','homepage','poster_path','runtime','budget','revenue','vote_average','vote_count']]
# movie_metadata2.head(5)

In [24]:
# movie_metadata2.columns.to_list()

In [25]:
# movie_metadata[['id','belongs_to_collection']]

### sử dụng:
- belongs_to_collection: dùng id để lọc những film liên quan lẫn nhau
- Dữ liệu có 126 movieid ko có mã tbdmid
- 1071 movieid có mã tbdmid những ko có dữ liệu trên server 
    - code: tbdm movies_info[movies_info['tmdbId'].isin(list(fall_m['id']))]

In [26]:
tmdb_data = json.loads(sql_json[sql_json['id']==11]['request_json'].values[0])
# tmdb_df = pd.DataFrame(tmdb_data)
tmdb_data

NameError: name 'sql_json' is not defined

In [ ]:
# tmdb_data = json.loads(movie_metadata[movie_metadata['id']==1891]['request_json'].values[0])
# # tmdb_df = pd.DataFrame(tmdb_data)
# # tmdb_data

In [ ]:
[tmdb_data['production_countries'][0]['name'],tmdb_data['spoken_languages'][0]['english_name']
 ,tmdb_data['production_companies'][0]['name']
 ,tmdb_data['overview'],tmdb_data['status'],tmdb_data['release_date']
]

In [ ]:
movies_links[movies_links['tmdbId'].isnull()]

In [35]:
# movies = pd.read_csv(os.path.join(pathfolder,'movies.csv'))
links = pd.read_csv(os.path.join(pathfolder,'links.csv'))
links = links[links['tmdbId'].isnull()==False]
links.sort_values(by='tmdbId',inplace=True)
links

       movieId    imdbId     tmdbId
4366      4470     94675        2.0
12656    61724     92149        3.0
17          18    113101        5.0
474        479    107286        6.0
257        260     76759       11.0
...        ...       ...        ...
86365   288447  28212579  1144338.0
86458   288733  23469212  1145358.0
86466   288753   6810618  1146246.0
86513   288913  17519798  1146249.0
86445   288693  27766377  1147612.0

[86411 rows x 3 columns]

In [ ]:
# # DONE
# movies = pd.read_csv(os.path.join(pathfolder,'movies.csv'))
# movies1 = movies[['movieId','genres']]
# max_col = [len(i) for i in list(movies1['genres'].str.split('|'))]
# movies_genres = pd.DataFrame()

# for i in range(max(max_col)):
#     data = movies.copy()
#     data['genres'] = data['genres'].str.split('|',expand=True)[i]
#     data = data[data['genres'].isnull()==False]
#     movies_genres = pd.concat([movies_genres,data])

# movies_genres.sort_values(by='movieId',ascending=True,inplace=True)
# del movies_genres['title']
# movies_genres

       movieId       genres
0            1    Adventure
0            1      Fantasy
0            1    Animation
0            1       Comedy
0            1     Children
...        ...          ...
86533   288971       Horror
86534   288975  Documentary
86535   288977     Thriller
86535   288977        Crime
86536   288983  Documentary

[152288 rows x 2 columns]

In [43]:
# DONE -- CSV
moives_tags = pd.read_csv(os.path.join(pathfolder,'tags.csv'))
moives_tags['date_tag'] = pd.to_datetime(moives_tags['timestamp'],unit='s')
moives_tags['tag'] = moives_tags['tag'].str.lower().str.strip()
moives_tags['tag'] = moives_tags['tag'].replace('',np.nan)
moives_tags.rename(columns={'tag':'keywords'},inplace=True)
moives_tags['keyid'] = moives_tags['userId'].astype('int').astype('str') + moives_tags['movieId'].astype('int').astype('str') + moives_tags['timestamp'].astype('int').astype('str')
moives_tags = moives_tags[['keyid','userId','movieId','keywords','date_tag']]
moives_tags

,keyid,userId,movieId,keywords,date_tag
0,102601430666558,10,260,good vs evil,2015-05-03 15:22:38
1,102601430666505,10,260,harrison ford,2015-05-03 15:21:45
2,102601430666538,10,260,sci-fi,2015-05-03 15:22:18
3,1412211311600756,14,1221,al pacino,2011-07-25 13:32:36
4,1412211311600746,14,1221,mafia,2011-07-25 13:32:26
...,...,...,...,...,...
2328310,3309231765991507547491,330923,176599,politically correct,2017-10-09 11:11:31
2328311,33093333171351279384,330933,3317,coming of age,2012-10-26 19:23:04
2328312,33093333171351279389,330933,3317,sexuality,2012-10-26 19:23:09
2328313,33094757821154110902,330947,5782,not luc besson,2006-07-28 18:21:42
2328314,330947441911154271525,330947,44191,comic book,2006-07-30 14:58:45

In [37]:
links[links['movieId']==11]

    movieId  imdbId  tmdbId
10       11  112346  9087.0

In [38]:
links[links['tmdbId']==11]

     movieId  imdbId  tmdbId
257      260   76759    11.0

In [40]:
list(set(moives_tags[moives_tags['movieId']==260]['tag']))

['buena para los frikis',
 'tech',
 'mythology',
 'avoid',
 'nerd',
 'loss of arm',
 'escapist',
 'classic movie',
 'astromech droid',
 'aerial combat',
 'fantasy, adventure',
 'marksman h combat remote',
 'imperial star destroyer',
 'you must see it',
 'all-time great, revolutionary',
 'classic, space epic',
 'mystic warriors',
 'intense',
 'hologram',
 'groundbreaking',
 'memories, going to the theater to watch this huge movie as a kid and having my mind blown by everything in the movie.',
 'forest gump',
 'good vs evil',
 'star was',
 'good for the family',
 'based on hidden fortress',
 'stop motion animation',
 'spielberg/lucas',
 'tale',
 'evil empire',
 'princess heroine',
 'clever names',
 'bad',
 'easy going story',
 'oscar (best effects - visual effects)',
 'astounding',
 'aesthetic',
 'spaceflight',
 'farmer',
 'emblematic',
 'heroic mission',
 'rebel',
 'mystery',
 'space battle',
 'good vs evil sci-fi',
 'good characters',
 'robot',
 'fictional',
 'good acting',
 'poetic',
 'dystopian',
 'star war',
 'black and white',
 'imaginative',
 'rd2d',
 'human male',
 'starship fleet',
 'the classic sci fi movie. must see.',
 'nice future thinking',
 'action packed',
 'gfei own it',
 'afi 100 (movie quotes)',
 'great villain',
 'good and evil',
 'lifting a male into the air',
 'laser pistol',
 'pinnacle film',
 'flash gordon space adventure',
 'other dimensions',
 'galactic empire, luke skywalker',
 'good one but not realistic',
 'starfighter',
 'neard',
 'telepathy',
 'original',
 'sci fi oldie',
 'action-adventure',
 'hooded figure',
 'r2 d2',
 'childish',
 'wedge antilles character',
 'stand by me',
 'classic that started the whole star wars universe',
 '20th century fox',
 'enjoyable, fairy tale story',
 'spiriritual',
 'black armor',
 'love',
 'courage',
 'uplifting',
 'spacebattles',
 'blaster rifle',
 'science fantasy',
 'best of the six',
 'overrated',
 'skywalker',
 'interstellar war',
 'rebel starship',
 'scifi cult',
 'great visual effects',
 'struggle against tyranny',
 'animated film',
 'bgm performed by orchesta',
 'homoroboerotica',
 'exciting',
 'quotable',
 'heard its good',
 'passenger',
 'revolutionary movement',
 'end of the world',
 'lots of space fighting drama',
 'protocol droid',
 '#science',
 'landspeeder',
 'simplific',
 'spaceship',
 "episode what? it's cut off, so i don't even know what movie it is",
 'woaa',
 '#mustwatch',
 'creature',
 'visionary',
 'has not aged well',
 'georege lucas',
 'classic sci fi',
 'battle scenes',
 '#awesome',
 'riveting',
 'incestuous kiss',
 'cinnamon buns',
 'jawa',
 'speedy',
 'deep universe',
 'a great intro to new exciting characters.',
 'handheld communicator',
 'rebellion',
 'gun',
 'orca',
 '55 movies every kid should see--entertainment weekly',
 'timeless',
 'exhilirating',
 'good man',
 'all-time great',
 'cult favorite',
 'too old. showing its age',
 'politics',
 'entertaining',
 'good music',
 'original classic',
 'hypnosis',
 'super sci fi',
 'scavenger',
 'science fiction, space',
 'kids and family',
 'not trek',
 'wars',
 'cutting edge',
 'fantastic adventure',
 'every nerd should have seen more than once',
 'no opening credits',
 'music',
 'ship',
 'cantina',
 'epic, good vs evil',
 'male protagonist',
 'plotless',
 'afi 100 (thrills)',
 'action sci-fi gold.',
 'space bounty hunter',
 'up',
 'predictable',
 'disney star wars',
 'old classic',
 'too long',
 'heard about it',
 'specific universe',
 'sword and sorcery',
 'allegory of multiple historical events.',
 'thriller',
 'cinematography',
 'act 1',
 'classic adventure',
 'rebel base',
 'genocide',
 'computer animation',
 'reward',
 'jabba the hutt character',
 'practical effects',
 'death star',
 'tough girl',
 'medal ceremony',
 'weapon of mass destruction',
 'imperial stormtrooper',
 '2016',
 'rebellion against dictatorship',
 'male hero male villain',
 'black helmet',
 'computer graphics',
 'intelligence',
 'it prettygood',
 'poetic justice',
 'geeky',
 'philosophy',
 'stupid,bad science fiction',
 'space action',
 'underdog story',
 'chill',
 'anamorphic blow-up',
 'all time favorite',
 'dreamy',
 'sfx',
 'gay',
 'stun blast',
 'disney',
 'americana',
 'casual...',
 '#hansolo',
 'family-friendly, action-packed',
 'warrior culture',
 'space pilot',
 'space opera, science fiction, action',
 'star wars, harrison ford',
 'cosmos',
 'vintage special effects',
 'adventure fun',
 'authentic',
 'spielberg',
 'good sfx',
 'rescue',
 'fiction',
 'interrogation',
 'hermit',
 'ambush',
 '1977',
 'dvd-video',
 'in',
 'national film registry',
 'decent',
 'aliens',
 'troubled production',
 'archetypal',
 'fav',
 'computer',
 'laser',
 'long time ago',
 'oscar (best art direction)',
 'devaronian',
 'oscar (special achievement)',
 'exploding planet',
 'soft sci-fi',
 'great action',
 'darkside',
 'harry potter',
 'vehicle',
 'joseph campbell',
 'heroic',
 'best movie ever, hands down',
 'complex script',
 'abenteuer',
 'annimation',
 'secrets',
 'military',
 'blockbuster',
 'a western set in an alien world',
 'bounty hunter',
 'movie magic',
 'star wars',
 'humorous',
 'clv',
 'golden globe (best score)',
 'i did not watch this movie',
 'masterpiece',
 'x wing',
 'blaster',
 'dinner',
 'bafta (best music)',
 'suicide',
 'star destroyer',
 'reverse footage',
 'library of congress',
 'laser turret',
 'cool',
 'wincest',
 'nomad',
 'ithorian',
 'escape',
 'oscar nominee: best picture 1977',
 'groundbreaking science-fiction',
 'desert planet',
 'tough guy',
 '#nice',
 'meh',
 'shared universe',
 'romance',
 'bechdel test:fail',
 'tractor beam',
 'sci',
 'bast background universe',
 'rodian',
 'fandom',
 'classic film',
 'classic sci-fi movie..',
 'great characters',
 'saturn award (best science fiction film)',
 'essential',
 'plot has adventure and love and is fantasy',
 'bravery',
 'vies extraterrestres',
 'beard',
 'space travel',
 'human being',
 'trendsetter',
 'alien creature',
 'sifi',
 'x-wing',
 'a little childish',
 'band',
 'male cast',
 'good special effects',
 'usa film registry',
 'breakthroughs',
 'a classic scifi movie',
 'space humor',
 'imperialistic badassery',
 'smoke',
 'obi wan kenobi character',
 'is romance and adventure',
 'symphonic music score',
 'dráma',
 'quite suspensful',
 'epic sci-fi',
 'hovercar',
 'old sci-fi',
 'canyon',
 'bd-video',
 'shoot first',
 'lightsaber duel',
 'sandcrawler',
 'john williams music',
 'ahead of its time',
 'banda sonora buena',
 "number in character's name",
 'warrior',
 'bleh',
 'stupid robot communications',
 'spaceships',
 'castle thunder',
 'drama',
 'daring rescue',
 'despecialized edition',
 'family',
 'action comedy',
 'soldier',
 'j',
 'bad dialogue',
 'y wing starfighter',
 'highly quotable',
 'itaege',
 'epic battle',
 'action, adventure',
 'captivating',
 'famous',
 'the battle  begins - the love story begins.  enjoy an intergalactic ride with the eponymous heroes fighting an assortment of baddies who have a sinister master',
 'hhh',
 'shrinking room',
 'explosions',
 'george lucas',
 'critically acclaimed',
 'operatic',
 '科幻 冒险',
 'victory',
 'hero',
 'male female relationship',
 "haven't seen it",
 'ancient astronaut',
 'hopeful',
 'no protagonist',
 'complete',
 '#fantasy',
 'fantasy action',
 'highschool',
 'rewatch',
 '!george lucas',
 'comedy',
 'old republic',
 'supernatural powers',
 'mysterious villain',
 'outer space',
 'not my type',
 'might inspire you in a way.',
 'afi #15',
 'uninterested',
 'iconic',
 'ongoing saga',
 'old-fashioned',
 'action scifi',
 'hyperspace',
 'simple story',
 'two word title',
 'future',
 'father-son relationship',
 'nice story telling',
 'humanoid robot',
 'dont watch',
 'good clean fun movie',
 'seventies',
 'insult',
 'wookiee',
 'jail cell',
 'good',
 'production design',
 'defines genre',
 'never seen it',
 'cult film',
 'male antagonist',
 'genre-defining',
 'spirit',
 'boring?',
 'smuggler',
 'organized crime',
 'old special effects',
 'fraternal twins',
 'storm',
 'jk',
 'spaceshit',
 'action-packed, top-stars',
 'classic sci-fi',
 'spaghetti western imitation',
 'amazing sci-fi',
 'birth of great scifi ideas',
 'love, adventure and saving the universe',
 'lifting someone into the air',
 'i wanna be a jedi',
 'syfy',
 'easy watching',
 'dark',
 'good acting, direction',
 '+scifi',
 '80s',
 'tie fighter',
 'instageek',
 'a new hope',
 'bar',
 'ok',
 'old fx quality',
 'space opera',
 'spaceport',
 'coming of age',
 'telekinesis',
 'classics of the janra',
 'starship bridge',
 'horrible acting',
 'fascism',
 'inventive',
 'friendship',
 'tight story',
 'bad acting',
 'good story',
 'excellent',
 'alien race',
 'nice',
 'big buget',
 'deep voice',
 'blaster pistol',
 'holographic projection',
 'luke fucking skywalker',
 'comicon',
 'binoculars',
 'space epic, science fiction',
 "don't waste your time.",
 'design flaw',
 'star wards',
 'futuristic view',
 'old',
 'lasersword',
 'home',
 "if you haven't seen this movie, you probably haven't seen any movies",
 'leitmotif',
 '#space',
 'akira kurosawa influenced',
 'generic',
 '2',
 'interesting',
 'self sacrifice',
 'afi',
 'wow',
 'class sci-fi',
 'science fiction',
 'divx1',
 'inspiring',
 'genius',
 'exploding starfighter',
 'space fantasy',
 'these are not the droids you are looking for',
 'pseudo rated',
 'princess warrior',
 'r2-d2',
 'camp sci fi',
 'chato',
 'old movie',
 'disguise',
 "tumey's dvds",
 'targeting screen',
 'soundtrack',
 'han solo character',
 'bad guy bar',
 'dvd',
 'watch before you die',
 'culte',
 'escape pod',
 'john williams',
 'impersonating an imperial stormtrooper',
 'super villain',
 'occult',
 'sunset',
 'good against evil',
 'starfighter pilot',
 'let the force be with you',
 'film starts with text',
 'good vs. evil',
 'original plot',
 'classic space movie',
 'plea',
 'sabotage',
 'basically the best opening for a movie.',
 'midgets',
 'female fighter',
 'thisisamust',
 'chase',
 'fictional planet',
 'subjective camera',
 'apocolypse',
 'sequel',
 'wisedom',
 'adrenaline rush',
 'message',
 'best movie ever',
 'galactic',
 'disguised classic western',
 'pelis1',
 'could be happening in a remote galaxy....',
 'colon in title',
 'imperial starship',
 'thrilling',
 'atmospheric',
 'saturn award (best costumes)',
 'lightsaber battle',
 'fictional war',
 'hayden christensen',
 'starwars',
 'beautiful',
 'psychotronic film',
 'wicked special effects',
 'very good',
 'cruiser starship',
 'sci-fi, future , fantasy',
 'good science fiction',
 'influential',
 '#boring',
 'great photography',
 'universum',
 'strangulation',
 'rescuing the world',
 'fran-done',
 'han solo',
 'wonderful',
 'oscar (best costume design)',
 'sci fi',
 'dark side',
 'well-scored',
 'a boy grows into a jedi',
 'beast',
 'cruiser',
 'galactic war',
 'old school',
 'emperor',
 'space saga',
 'protection of the universe',
 'rescue mission',
 'acting',
 'science fiction, classic',
 'white knight',
 'exhaust shaft',
 'sf,science fiction',
 'robots',
 'aesthetic science fiction',
 'fx movie',
 "character's point of view camera shot",
 'space epic,good for kids,cult classic',
 'intergalactic',
 'desert',
 'movie',
 'underdog',
 'acao',
 'teenage',
 'flying ship',
 'mark hamill',
 'trilogy',
 'mission',
 'horror',
 'internal struggle of good vs evil',
 'time pass',
 'love story',
 'smart',
 'high-tech',
 'have not seen it',
 'space',
 'good scifi',
 'planet viewed from outer space',
 'jedi',
 'stars',
 'bipedal robot',
 'story',
 'male villain',
 'laser sword',
 '1970s',
 'alternate version',
 'starwawars',
 'good versus evil',
 'chubakka',
 'gun fight',
 'director-screenwriter',
 'scanimate',
 'henry ford',
 'blowyourmind',
 'b-film',
 'good sci fi movie',
 'space drama',
 'saw it when it came out',
 'holographic message',
 'cute robots',
 'unseen',
 'empire',
 'stereotyped heroes',
 'sci-fi',
 '4k',
 'akira kurosawa',
 'burnt body',
 'yet to watch',
 'starship pilots',
 'monster',
 'cloak',
 'human android relationship',
 'a good one time watch',
 'worth watching',
 'space epic,good for kids,cult classic,sci-fi',
 'non human',
 'world destruction',
 'number in title',
 'a fun introduction to the epic film series which will keep you on the edge of your seat during the good vs evil battles.  fantastic special effects, incredible characters and futuristic landscapes.',
 'starship pilot',
 'good to watch',
 'incredible lenses',
 'loyality',
 'old school science fiction',
 'sci-fi at its finest',
 'engrossing adventure',
 'denis lawson',
 'afi 100',
 'best movie ever, for real',
 'opening crawl',
 "did'nt get it",
 'fast plot development',
 'anime',
 'witty',
 'farmboy',
 'johnwilliams',
 'bar fight',
 'cheesy space opera, classic',
 'seen more than once',
 'oscar (best editing)',
 'hated it',
 'dumb kid',
 'scary',
 'good science fictional technology',
 'saga',
 'leia',
 'heroic journey',
 'handheld weapon',
 'is a series of movies.',
 'preposterous',
 'family relationships',
 'the force',
 "sci-fi, groundbreaking in it's time",
 'martial arts',
 'spectacular',
 'special effects',
 'can watch this every couple of years and enjoy it every time.',
 'poor effects',
 'reference to jabba the hutt',
 'ind',
 'holylucas',
 'part of trilogy',
 'disability',
 'death ray',
 'nice effects',
 'john',
 'white beard',
 'brilliant',
 'why?',
 'carrie fisher',
 'endeavour',
 'feel-good',
 'space sci-fi',
 'heist',
 'amazing',
 'great universe',
 'stylized',
 'weapons fire',
 'new',
 'serial',
 'battle',
 'millenium falcon',
 'i am your father',
 'swords',
 'gun under a table',
 'chewbacca',
 'violence',
 'obi wan kenobi',
 'dork',
 'orchestral music score',
 'dialogue',
 'schematic adventure',
 'androids',
 'sf',
 'rocky canyon',
 'prototype',
 'space opera, science fiction, serial',
 'not to miss',
 'planet',
 'good effects',
 'script',
 'hand to hand combat',
 'space fight',
 'sword duel',
 'good cast',
 'afi 100 (heroes & villains)',
 'engaging',
 'weapon',
 'future fantasy',
 'endangered princess',
 'futuristic',
 'never saw',
 'happy ending',
 'foot chase',
 'action',
 'princess leia organa character',
 'galaxy',
 'all time great',
 'children',
 'aunt nephew relationship',
 'well-made',
 'aventura',
 'must see',
 'good for pre-teens',
 'controversy',
 'reluctant hero',
 'action, family friendly, space',
 'han solo joins a team',
 'pilot',
 'loss of family',
 'usa',
 'the beginning of a classic saga. good vs evil extraordinaire',
 'great controversy',
 'cgi',
 'alternate reality',
 'human',
 'peter cushing',
 'corvette starship',
 'disappointing fight between obi wan and vader',
 'fun',
 'good action',
 'jizz in my pants',
 'meet the gang that started it all.',
 'rogues',
 'epic opera',
 'dogfight',
 '#fictionatitsbest',
 'starship riders',
 'outdated, for younger audiences. action adventure',
 'general',
 'legendary',
 'helmet',
 'one time watch',
 'harrison ford',
 'epic , action saga',
 'c 3po character',
 'super weapon',
 'nice movie',
 'wilhelm scream',
 'gunfighter',
 'boring',
 'готин',
 'peter mayhew',
 'attack',
 'no interest',
 'fighting',
 'abyss',
 'pop culture must',
 'long and spacey',
 'jedi wars',
 'my youth',
 'hope',
 'betamax',
 'space western',
 'cast',
 'destruction of planet',
 'lucas',
 'oscar ,sci-fi',
 'millennium falcon',
 'далекие планеты',
 'anger',
 'peek of the future',
 'clear morality',
 'fantasy, space battles',
 'spy',
 'scarface',
 'interrogation droid',
 'genre busting',
 'obi wan',
 'skeleton',
 'comlink',
 'murder/fatality',
 'swordfights',
 'jedi mind trick',
 'saturn award (best makeup)',
 'saturn award (best special effects)',
 'blast from the past',
 'who knew',
 'luke skywalker',
 'alright',
 'great classic',
 'epic adventure',
 'great effects',
 'interplanetary',
 'love it',
 'sci-fi thriller',
 'twins',
 'cleaning',
 'aunt',
 'cliche',
 'kenny baker',
 'western',
 '#boring #lukeiamyourfather',
 'seminal',
 'nail-biting',
 'darthvader',
 'exhilarating',
 'jedi training',
 'loved it',
 '#groundbreaking #adventure #goodvsevil',
 'husband wife relationship',
 'adventure',
 "hero's journey",
 'sword',
 'aircraft',
 'sword fight',
 'princess leya',
 'dvd1',
 'scifi action',
 'prison escape',
 'classic sci-fi movie',
 'jesus complex',
 '#classic',
 'lame',
 'assault',
 'classicscifi',
 'a must to all geeks in the world',
 'original movie',
 'stealing',
 'adventurous',
 'tv',
 'classic',
 'high tech',
 'uncle nephew relationship',
 'exploding ship',
 'w/e',
 'gunfight',
 'oscar nominee: best picture',
 'testibg tag',
 'james earl jones',
 'innocent deaths avenged',
 'repulsorcraft',
 'police',
 'modern myth',
 'couple',
 'jedi master',
 'genre defining',
 'adventu',
 'dull acting',
 'shabam',
 'unlikely hero',
 'amazaballs',
 'fuckdisney',
 'space war',
 'space wars',
 'lazer',
 'jet fighter',
 'popular',
 'far future',
 'x wing starfighter',
 'suspensful',
 'episode 6',
 'spacecraft cockpit',
 'i hear its good',
 'laser cannon',
 'wrist restraints',
 'low budget sci fi movie',
 'c-3po',
 'knight',
 "1970's",
 'begin again',
 'téa leoni does not star in this movie',
 'i have a bad feeling about this',
 'the start of special effects',
 'elevator',
 'pulp',
 'saturn award (best writing)',
 'rousing',
 'top 20 roi',
 'severed arm',
 'outdated',
 'amazing cast for one of the most successful sci-fi of the history of cinema. an epic story',
 'alien jibberish',
 'gotta see',
 'galactic empire',
 'wanna watch',
 'pleading',
 'crime',
 'farm',
 'robots and androids',
 'twin suns',
 'sibling kiss',
 'shooting',
 'prison',
 'light saber',
 'mixed martial arts',
 'characters',
 'rating very dependent on version',
 'racing',
 'great story',
 'multiple versions',
 '70s',
 'awesome soundtrack',
 'story driven',
 'duel',
 'han shot first',
 'lifting an adult into the air',
 'it',
 'represents technology advance',
 'uncle',
 'shit',
 'oscar (best sound)',
 'adult',
 'religion',
 'fairy tale',
 'new hollywood',
 'space adventure, princess,',
 '#lukeiamyourfather',
 'favorites',
 'sf,science fiction,',
 'orange',
 'space, adventure',
 'forbidden love',
 'not interesting',
 'android',
 "don't want to see it",
 'tie advanced x1 starfighter',
 'oscar winner',
 'reference to the clone wars',
 'space station',
 'mask',
 'death of friend',
 'classic sf',
 'new ear of imagination',
 'captain',
 'book-based',
 'communications device',
 'r2 d2 character',
 'phantasy',
 'fan movie',
 'shootout',
 'visually stunning',
 'hero quest',
 'music by john williams',
 'great movie',
 'first of its kind',
 'time travel',
 'creative',
 'universe',
 'wookies',
 'where it all began.',
 'non interesting',
 'aqualish',
 '1997',
 'franchise',
 'heroine',
 'homage',
 'slinge blade',
 "space epic, science fiction, hero's journey",
 'family dinner',
 ...]

In [28]:
moives_tags_agg = moives_tags[['movieId','tag']].drop_duplicates()
moives_tags_agg = moives_tags_agg.groupby('movieId').agg(keywords=('tag',list)).reset_index()
moives_tags_agg['keywords'] = moives_tags_agg['keywords'].astype('str')
moives_tags_agg

       movieId                                           keywords
0            1  ['animation', 'friendship', 'toys', 'disney', ...
1            2  ['animals', 'based on a book', 'fantasy', 'mag...
2            3  ['sequel', 'moldy', 'old', 'old age', 'old men...
3            4  ['characters', 'chick flick', 'girl movie', 'r...
4            5  ['family', 'pregnancy', 'wedding', '4th wall',...
...        ...                                                ...
53447   288765  ['post-apocalyptic', 'survival', 'tw suicide',...
53448   288779                             ['don camillo series']
53449   288849           ['addiction', 'animation', 'short film']
53450   288937                                          ['anime']
53451   288955  ['catalan', 'costa brava', 'flatmate', 'millen...

[53452 rows x 2 columns]

In [ ]:
SQL_push(
         sql_table_name='staging.stg_keywords_list',
         python_table=moives_tags_agg,
         con=connUAT,
         cursor=cursorUAT,
         inplace= True
        )

In [ ]:
# test = moives_tags[moives_tags['movieId']==260][['movieId','tag']]
# test.drop_duplicates(inplace=True)
# test[test['tag'].str.contains('jedi')]

         movieId                      tag
21775        260                     jedi
136929       260  a boy grows into a jedi
525395       260        i wanna be a jedi
1060916      260              jedi master
1060917      260          jedi mind trick
1060918      260            jedi training
2310866      260                jedi wars

In [ ]:
# moives_tags.isnull().sum()

userId        0
movieId       0
tag          27
date_time     0
dtype: int64

In [ ]:
SQL_push(
            sql_table_name= 'staging.stg_grouplen_moviestags',
            python_table= moives_tags,
            con= connUAT,
            cursor= cursorUAT,
            inplace= True
        )

In [ ]:
# # DONE
# movies_ratings = pd.read_csv(os.path.join(pathfolder,'ratings.csv'))
# movies_ratings['date_time'] = pd.to_datetime(movies_ratings['timestamp'],unit='s')
# del movies_ratings['timestamp']
# movies_ratings

          userId  movieId  rating           date_time
0              1        1     4.0 2008-11-03 17:52:19
1              1      110     4.0 2008-11-05 06:04:46
2              1      158     4.0 2008-11-03 17:31:43
3              1      260     4.5 2008-11-03 18:00:04
4              1      356     5.0 2008-11-03 17:58:39
...          ...      ...     ...                 ...
33832157  330975     8340     2.0 2004-08-04 01:34:16
33832158  330975     8493     2.5 2004-08-04 02:15:09
33832159  330975     8622     4.0 2004-08-04 01:09:37
33832160  330975     8665     3.0 2004-08-04 01:09:25
33832161  330975     8783     2.5 2004-08-04 01:09:59

[33832162 rows x 4 columns]

In [ ]:
# movies_ratings.isnull().sum()

userId       0
movieId      0
rating       0
date_time    0
dtype: int64

In [ ]:
SQL_push(
            sql_table_name= 'staging.stg_grouplen_moviesratings',
            python_table= movies_ratings,
            con= connUAT,
            cursor= cursorUAT,
            inplace= True
        )

In [ ]:
# # DONE
# genome_s = pd.read_csv(os.path.join(pathfolder,'genome-scores.csv'))
# genome_s

          movieId  tagId  relevance
0               1      1    0.03200
1               1      2    0.02225
2               1      3    0.07000
3               1      4    0.05900
4               1      5    0.12300
...           ...    ...        ...
18472123   288167   1124    0.09875
18472124   288167   1125    0.02950
18472125   288167   1126    0.02275
18472126   288167   1127    0.11225
18472127   288167   1128    0.03025

[18472128 rows x 3 columns]

In [ ]:
# genome_s.isnull().sum()

movieId      0
tagId        0
relevance    0
dtype: int64

In [ ]:
SQL_push(
            sql_table_name= 'staging.stg_genome_scores',
            python_table= genome_s,
            con= connUAT,
            cursor= cursorUAT,
            inplace= True
        )

In [ ]:
# # DONE
# genome_t = pd.read_csv(os.path.join(pathfolder,'genome-tags.csv'))
# genome_t

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [ ]:
# genome_t.isnull().sum()

tagId    0
tag      0
dtype: int64

In [ ]:
SQL_push(
            sql_table_name= 'staging.stg_genome_tags',
            python_table= genome_t,
            con= connUAT,
            cursor= cursorUAT,
            inplace= True
        )

In [ ]:
# connUAT.commit()
# connUAT.close()